{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio | Kent Edoloverio</title>
    <meta property="og:title" content="Portfolio | Kent Edoloverio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

  </head>
  <body>
    <div>
      <div class="home-container">
        {% block header %}
        {% endblock %}

        {% block introduction %}
        {% endblock %}


        {% block banner %}
        {% endblock %}

        {% block projects %}
        {% endblock %}


        {% block contact %}
        {% endblock %}
        
        {% block footer %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
