{% block about %}
<div id="About" class="home-hero">
    <div class="home-container2">
      <span class="home-text">Hey, I'm</span>
      <h1 class="home-text01">KENT JOHN EDOLOVERIO</h1>
      <h1 class="home-text02">Backend Developer</h1>
      <span class="home-text03">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        elementum metus at mi sagittis scelerisque ut sit amet ipsum.
        Phasellus consequat sapien nulla, at commodo ante tincidunt nec.
        Quisque mattis tortor sit amet eros laoreet, nec rutrum diam
        fermentum. Aliquam scelerisque ut neque ut viverra. Sed fringilla
        aliquam mollis. Nunc vulputate venenatis mattis.
      </span>
    </div>
    <img
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="home-image2"
    />
  </div>
{% endblock %}