{% load static %}
{% block about %}
<div id="About" class="home-hero">
  <div class="home-container2">
    <span class="home-text">Hey, I'm</span>
    <h1 class="home-text01">KENT JOHN EDOLOVERIO</h1>
    <h1 class="home-text02">Backend Developer</h1>
    <span class="home-text03">
      I am currently pursuing a four-year Bachelor of Science degree in Information Technology at Mindanao University of
      Science and Technology, located in Panaon, Philippines. Throughout the course of my studies, I have actively engaged
      with open source projects on GitHub and gained valuable experience through my contributions. Building upon this hands-on
      experience, I am eager to further expand my skills and knowledge in the field.
    </span>
    <div class="home-btn-group">
      <button class="home-button button">Contact Me</button>
    </div>
  </div>
  <img
    src="{% static 'images/kent-edoloverio.jpg' %}"
    class="home-image2"
  />
</div>
{% endblock %}