{% block contact %}
<div id="Contact" class="home-contact">
    <h1 class="home-text16">Connect with me</h1>
    <span class="home-text17">
      For any inquiries or further assistance, I am readily available to provide prompt and thorough support. Please feel free
      to reach out to me via email or any other preferred means of communication. I appreciate the opportunity to address any
      questions. I would be delighted to arrange a meeting at a convenient time that aligns with your schedule. I look forward
      to the possibility of assisting you further and providing valuable insights tailored specifically for your needs.
    </span>
    <div class="home-container7">
      <input
        type="text"
        placeholder="Email here..."
        class="home-textinput input"
      />
      <button class="home-button1 button">Send Email</button>
    </div>
</div>
{% endblock %}