{% block contact %}
<div id="Contact" class="home-contact">
    <h1 class="home-text16">Learn to keep it simple</h1>
    <span class="home-text17">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      elementum metus at mi sagittis scelerisque ut sit amet ipsum.
      Phasellus consequat sapien nulla, at commodo ante tincidunt nec.
      Quisque mattis tortor sit amet eros laoreet, nec rutrum diam
      fermentum. Aliquam scelerisque ut neque ut viverra. Sed fringilla
      aliquam mollis.
    </span>
    <div class="home-container7">
      <input
        type="text"
        placeholder="Email here..."
        class="home-textinput input"
      />
      <button class="home-button1 button">Send Email</button>
    </div>
</div>
{% endblock %}