{% block projects %}
<div id="Projects" class="home-projects">
    <h1 class="home-text13">
      <span>FEATURED PROJECTS</span>
      <br />
    </h1>
    <div class="home-container5">
      <div class="projects-blog-post-card projects-root-class-name3">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;w=1000"
          image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
          class="projects-image"
        />
        <div class="projects-container">
          <div class="projects-container1">
            <span class="projects-text"><span>3 days ago</span></span>
          </div>
          <h1 class="projects-text1">
            <span>Lorem ipsum dolor sit amet</span>
          </h1>
          <span class="projects-text2">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              non volutpat turpis. Mauris luctus rutrum mi ut rhoncus.
              Integer in dignissim tortor. Lorem ipsum dolor sit amet,
              consectetur adipiscing ...
            </span>
          </span>
          <div class="projects-container2">
            <span class="projects-text3">Read More -&gt;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="home-container6">
      <div class="projects-blog-post-card projects-root-class-name">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1595565312451-23051ab0666c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxwb3J0cmFpdCUyMHdvbWFufGVufDB8fHx8MTYyNjQ1MDU4MQ&amp;ixlib=rb-1.2.1&amp;h=1000"
          image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
          class="projects-image"
        />
        <div class="projects-container">
          <div class="projects-container1">
            <span class="projects-text"><span>3 days ago</span></span>
          </div>
          <h1 class="projects-text1">
            <span>Lorem ipsum dolor sit amet</span>
          </h1>
          <span class="projects-text2">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              non volutpat turpis. Mauris luctus rutrum mi ut rhoncus.
              Integer in dignissim tortor. Lorem ipsum dolor sit amet,
              consectetur adipiscing ...
            </span>
          </span>
          <div class="projects-container2">
            <span class="projects-text3">Read More -&gt;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="projects-blog-post-card projects-root-class-name2">
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1519699047748-de8e457a634e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIxfHxwb3J0cmFpdCUyMHdvbWFuJTIwY29sb3J8ZW58MHx8fHwxNjI2NDUwNTU4&amp;ixlib=rb-1.2.1&amp;h=1000"
        image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
        class="projects-image"
      />
      <div class="projects-container">
        <div class="projects-container1">
          <span class="projects-text"><span>3 days ago</span></span>
        </div>
        <h1 class="projects-text1">
          <span>Lorem ipsum dolor sit amet</span>
        </h1>
        <span class="projects-text2">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            non volutpat turpis. Mauris luctus rutrum mi ut rhoncus.
            Integer in dignissim tortor. Lorem ipsum dolor sit amet,
            consectetur adipiscing ...
          </span>
        </span>
        <div class="projects-container2">
          <span class="projects-text3">Read More -&gt;</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}