{% block work_experience %}
<div class="home-work-experience">
    <h1 class="home-text04">
      <span>WORK EXPERIENCE</span>
      <br />
    </h1>
    <div class="home-container3">
      <div
        class="work-experience-blog-post-card work-experience-root-class-name1"
      >
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvcmtpbmclMjBkZXNrfGVufDB8fHx8MTYyNjI1MDYwMg&amp;ixlib=rb-1.2.1&amp;h=1200"
          class="work-experience-image"
        />
        <div class="work-experience-container">
          <span class="work-experience-text">
            <span>COMPANY NAME</span>
          </span>
          <h1 class="work-experience-text1"><span>ROLE</span></h1>
          <div class="work-experience-container1">
            <span class="work-experience-text2">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam elementum metus at mi sagittis scelerisque ut sit
                amet ipsum. Phasellus consequat sapien nulla, at commodo
                ante tincidunt nec. Quisque mattis tortor sit amet eros
                laoreet, nec rutrum diam fermentum. Aliquam scelerisque ut
                neque ut viverra. Sed fringilla aliquam mollis. Nunc
                vulputate venenatis mattis.
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="home-container4">
      <div
        class="work-experience-blog-post-card work-experience-root-class-name2"
      >
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDl8fHdvcmt8ZW58MHx8fHwxNjI2NDUwNzky&amp;ixlib=rb-1.2.1&amp;h=1000"
          class="work-experience-image"
        />
        <div class="work-experience-container">
          <span class="work-experience-text">
            <span>COMPANY NAME</span>
          </span>
          <h1 class="work-experience-text1"><span>ROLE</span></h1>
          <div class="work-experience-container1">
            <span class="work-experience-text2">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam elementum metus at mi sagittis scelerisque ut sit
                amet ipsum. Phasellus consequat sapien nulla, at commodo
                ante tincidunt nec. Quisque mattis tortor sit amet eros
                laoreet, nec rutrum diam fermentum. Aliquam scelerisque ut
                neque ut viverra. Sed fringilla aliquam mollis. Nunc
                vulputate venenatis mattis.
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="work-experience-blog-post-card work-experience-root-class-name"
    >
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1497366754035-f200968a6e72?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHx3b3JrJTIwb2ZmaWNlfGVufDB8fHx8MTYyNjQ1MDgzMQ&amp;ixlib=rb-1.2.1&amp;h=1000"
        class="work-experience-image"
      />
      <div class="work-experience-container">
        <span class="work-experience-text">
          <span>COMPANY NAME</span>
        </span>
        <h1 class="work-experience-text1"><span>ROLE</span></h1>
        <div class="work-experience-container1">
          <span class="work-experience-text2">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam elementum metus at mi sagittis scelerisque ut sit
              amet ipsum. Phasellus consequat sapien nulla, at commodo
              ante tincidunt nec. Quisque mattis tortor sit amet eros
              laoreet, nec rutrum diam fermentum. Aliquam scelerisque ut
              neque ut viverra. Sed fringilla aliquam mollis. Nunc
              vulputate venenatis mattis.
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}