{% block work_experience %}
<div class="home-work-experience">
    <h1 class="home-text04">
      <span>WORK EXPERIENCE</span>
      <br />
    </h1>
    {% for work in work_experiences %}
    <div class="home-container3">
      <div
        class="work-experience-blog-post-card work-experience-root-class-name1"
      >
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1554415707-6e8cfc93fe23?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvcmtpbmclMjBkZXNrfGVufDB8fHx8MTYyNjI1MDYwMg&amp;ixlib=rb-1.2.1&amp;h=1200"
          class="work-experience-image"
        />
        <div class="work-experience-container">
          <span class="work-experience-text">
            <span>{{ work.company_name }}</span>
          </span>
          <h1 class="work-experience-text1"><span>{{ work.role }}</span></h1>
          <div class="work-experience-container1">
            <span class="work-experience-text2">
              <span>
                {{ work.description }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}